{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}パスワードリセット|Private Diary{% endblock title %}
{% block contents %}
<div class="container d-flex justify-content-center">
    <div class="row col-12 col-md-5">
        <div class="my-div-style">
            <h1 class="text-center mb-4">
                {% if token_fail %}不正トークン
                {% else %}
                パスワードリセット
                {% endif %}
            </h1>
            {% if token_fail %}
                {% url "account_reset_password" as password_reset_url %}
                <p>このパスワードリセット用リンクは宇高になっています
                    <a href="{{password_reset_url}}">パスワードリセット再申請</a>
                </p>
            {% else %}
                {% if form %}
                    <form action="{{action_url}}" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button class="btn btn-primary w-100 mt-4">送信</button>
                    </form>
                {% else %}
                    <p>パスワードは変更されています</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock contents %}