{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}パスワードリセット|Private Diary{% endblock title %}
{% block contents %}
<div class="container d-flex justify-content-center">
    <div class="row col-12 col-md-5">
        <div class="my-div-style">
            <h1 class="text-center mb-4">パスワードリセット</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>パスワードリセット用メールを送信します</p>
            <form action="{% url 'account_reset_password'%} " method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary w-100 mt-4 type="submit>送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock contents %}