{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}パスワードリセット|Private Diary{% endblock title %}
{% block contents %}
<div class="container d-flex justify-content-center">
    <div class="row col-12 col-md-5">
        <div class="my-div-style">
            <h1 class="text-center mb-4">パスワードリセット</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>パスワードリセット用のメールを送信しました</p>
        </div>
    </div>
</div>
{% endblock contents %}