{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}サインアップ|Private Diary{% endblock title %}
{% block active_signup %}active{% endblock active_signup %}


{% block contents %}
<div class="container d-flex justify-content-center">
    <div class="row col-12 col-md-5">
        <div class="my-div-style">
            <h1 class="text-center mb-4">サインアップ</h1>
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {%bootstrap_form form%}
                {% if redirect_field_value %}
                <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
                {% endif %}
                <button class="btn btn-primary w-100 mt-4" type="submit">登録</button>
            </form>
        </div>
    </div>
</div>
{% endblock contents %}