{% extends "base.html" %}
{% load static %}

{% block title %}日記編集|Private Diary{% endblock title %}

{% block active_diary_list %}active{% endblock active_diary_list %}

{% block nontents %}
<div class="container my-div-style">
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{form.as_table}}
            </table>
            <button class="btn btn-primary" type="submit">更新</button>
            <a href="{% url 'diary:diary_detail' object.pk %}" class="btn btn-secondary ml-2">キャンセル</a>
        </form>
    </div>
</div>
{% endblock nontents %}