{% extends "base.html" %}
{% load static %}
{% block title %}日記一覧|Private Diary{% endblock title %}
{% block active_diary_list %}active{% endblock active_diary_list %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/clean-vlog.css' %}">
{% endblock head %}

{% block contents %}
<div class="container px-4 px-lg-5 my-div-style">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="d-flex justify-content-end mb-4">
                <a href="#" btn btn-primary float-right>新規作成</a>
            </div>
            {% for diary in diary_list %}
            <div class="post-view">
                <a href="#">
                    <h2 class="post-title">
                        {{diary.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{diary.content|truncatechars:20}}
                    </h3>
                </a>
                <p class="post-meta">{{diary.created_at}}</p>
            </div>
            <hr class="my-4">
            {%empty%}
            <p>日記がありません</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock contents %}