{% extends "base.html" %}
{% load static %}

{% block title %}日記削除|Private Diary{% endblock title %}

{% block active_diary_list %}active{% endblock active_diary_list %}

{% block contents %}
<div class="container my-diy-style">
    <div class="row text-center">
        <form method="POST">
            {% csrf_token %}
            <p>本当に削除しますか</p>
            <button class="btn btn-primary mt-5" type="submit">削除</button>
            <a href="{% url 'diary:diary_detail' object.pk %}" class="btn btn-secondary mt-5 ml-2">送信</a>
        </form>
    </div>
</div>
{% endblock contents %}